.container {
    border: 1px solid blue;
    padding: 10px;
    display: grid;
    grid-template: 100px 200px 300px / repeat(3, 1fr);
    grid-gap: 10px;
}

.box {
    background-color: orange;
    border: 1px solid blue;
}