.blue {

    width: 100px;
    height: 100px;
    background-color: #0000ff;
}

.red {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
}

.green {
    width: 100px;
    height: 100px;
    background-color: #008000;
}

.yellow {
    width: 100px;
    height: 100px;
    background-color: #ffff00;
}